# Dependencias
**/node_modules

# Variables de entorno
.env
.env.local
.env.*.local

# Credenciales
credenciales.txt

# Build del cliente
apps/client/dist

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db
